{ margin:0; padding:0; box-sizing:border-box; }

body {
		background: url(../images/home_page_hero.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		padding-top: 65px;
		padding-left: 750px;
	}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 1.5em;

}

hr {
	width: 35%;
	margin: 1em auto;
}

p {
	font-size: 0.9em;
	
}

a {
	font-size: large;
	font-weight: 700;
	color: white;
	line-height: 6pt;
}

.button {
    background-color: #3f8adb;
    border: none;
    color: white;
    padding: 14px;
	width: 230px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em; 
	letter-spacing:0.3em;			
	margin:20px;
}
	
.button:hover {
    background-color: #3f8adb;
	opacity: 0.5;
    color: #b4caed;
}
	